/*Configuración de variables globales*/

    :root {
        /* Colores primarios */
        --primary-color: rgb(0,136,204);
    --secondary-color: rgb(87, 165, 205);
    --accent-color: rgb(255, 0, 0); 

        /* Colores de fondo */
        --background-color: rgb(255, 255, 255);
        --dark-color: rgb(21, 21, 21);
        --white-color: rgb(255, 255, 255);
        --yellow-color:rgb(242, 198, 65);
        --green-color: rgb(60, 217, 54);

    
        /* Colores de texto */
        --text-color: rgb(34, 34, 34);
        --secondary-text-color: rgb(255, 255, 255);
    
        /* Colores de grises */
    --gray-light-color: rgb(243, 243, 243);
    --gray-color: rgb(204, 204, 204);
    --gray-dark-color: rgb(102, 102, 102);
    --black-color: rgb(0, 0, 0);
    
        /* Otros */
    --box-shadow: rgba(0, 0, 0, 0.25);
    --link-color: rgb(250, 250, 245);
    --title-color: rgb(51, 51, 51);
    
      /* Colores del footer -( pasar a variables)*/
    --Azul-0000e6: rgb(0, 0, 230); 
    --gris-e0e0e0: rgb(224, 224, 224);
    --Morado-5939e7: rgb(89, 57, 231) ;
    --ffffff-Blanco: rgb(255, 255, 255);
    --azulOscuro214458: rgb(33, 68, 88);
}
/* ********** Reset Styles************************************* */
 *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html {
    box-sizing: border-box;    
    color: var(--gray-light-color);
    font-size: 1rem;
    scroll-behavior: smooth;
    width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    text-decoration: none;    
  }
  body {
    margin: 0 ; 
}
  

/***Estilos del carrousel***/
.carousel-container {
    overflow: hidden;
    max-width: 100%;
    min-width: 360px;
    height: 100%;   
  }
  
  .carousel {
    display: flex; /* Muestra las diapositivas en línea */
    transition: transform 0.5s ease-in-out;
    text-align: center;
    width: 100%;
    /* Añade una propiedad para hacer que las diapositivas se trasladen horizontalmente */
    transform: translateX(0);
    overflow: hidden;
    position: relative;
  }
  
  .slide {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
  .slide img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /* Ajusta la imagen sin distorsionar y recorta el exceso si es necesario */
  }
  .marcas {
    background-color: var(--gray-light-color);
    padding: 3em;
  }
  
  .marcas-productos h3,
  .marcas-productos h4 {
    text-align: center;
    margin: 2em 0;
  }
  
  #prev-button,
  #next-button {
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa por encima */
    padding: 10px; /* Ajusta el espaciado interior de los botones */
    background-color: var(--primary-color);
    color:var(--white-color);
    border: thin solid var(--black-color);
    border-radius: 5px;
    position: absolute;
    top: 50%; /* Coloca los botones en el centro verticalmente */
    transform: translateY(-50%);
  }
  #prev-button {
    left: 30px; /* Coloca el botón "Anterior" a la izquierda del carrusel */
  }
  
  #next-button {
    right: 30px; /* Coloca el botón "Siguiente" a la derecha del carrusel */
  }
  #prev-button:hover,
  #next-button:hover {
    background-color: var(--gray-dark-color); /* Cambia el color de fondo al pasar el mouse por encima de los botones */
  }

/* Estilo para las tarjetas   */

.card-container{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center; /* Centra las tarjetas horizontalmente */
    align-items: center; /* Centra las tarjetas verticalmente*/
    margin-top:1rem;
}

.card{
    width: 20rem;
    height: auto; 
    margin: 1rem;
    background-color: var(--background-color);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.card img{
    border-radius: 10px;
    max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la altura proporcional a la anchura */
}

.card:hover{
    transform: scale(1.05);
}

.card h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.card-link {
  text-decoration: none; /* Elimina el subrayado */
  font-weight: bolder; /* Establece el texto en negrita */
  color:var(--text-color);
}
/* Estilos base para la marquesina */
.marquee-container {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  padding: 1.5vh;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}

.shipping-banner {
  display: inline-block;
  animation: marquee linear infinite; /* La duración inicial de la animación se eliminará */
}

.marquee-item {
  margin-right: 5%;
  white-space: nowrap;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-20%); }
}
/* *****Estilos del Header************************************* */
/* ver header.css*/

/* Estilos para el icono de WhatsApp */
.whatsapp img{
  position: fixed;
  bottom:15px;
  right: 15px;
  width: 50px; 
  height: 50px;
  z-index: 999;
}

 /* Estilos para la animación al pasar el mouse */
.whatsapp img:hover {
  transform: scale(1.5); /* Escala ligeramente el icono al pasar el mouse */
}


.ancla img {
  position: fixed;
  width: 30px;
  bottom: 25px;
  margin-left: 5px; 
  z-index: 1000; 
}

/**********************MEDIAS QUERIES*****************************/
/* Media query para dispositivos móviles (hasta 767px de ancho) */
@media (max-width: 767px) {
  .shipping-banner {
    font-size: 1rem;
    animation-duration: 6s; /* Duración de la animación ajustada para dispositivos móviles */
    animation-timing-function: ease-in-out;
  }
  .card-container {
    justify-content: center; /* Centra las tarjetas horizontalmente */
    align-items: center; /* Centra las tarjetas verticalmente*/
  }
  
  
}



/* Media query para tabletas (768px a 1023px de ancho) */
@media (min-width: 768px) and (max-width: 1023px) {
  .shipping-banner {
    font-size: 1.2rem;
    animation-duration: 8s; /* Duración de la animación ajustada para tabletas */
    animation-timing-function: ease-in;
  }
  .card-container {
    flex-direction:row;
    justify-content: space-around;
  }
}  


/* Media query para pantallas grandes (más de 1023px de ancho) */
@media (min-width: 1024px) {
  .shipping-banner {
    font-size: 1.5rem;
    animation-duration: 12s; /* Duración de la animación ajustada para pantallas grandes */
  }
  .card-container {
    flex-direction:row;
    justify-content: space-around;
  }
}
