<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jugueterías SHOP by Papelera Zarate - Tienda Online</title>
  <meta name="description"
    content="Jugueterías SHOP by Papelera Zarate es  la tienda online de juguetes de Papelera Zarate en la localidad de Zarate. Encontrá en nuestra tienda las mejores ofertas  en juegos y juguetes para todas las edades.">
  <meta name="keywords"
    content=" JUGUETES, ACCESORIOS PARA MUÑECAS,AUTOS DE JUGUETE, BLOQUES Y CONSTRUCCIÓN, CASAS Y CASTILLOS, DINOSAURIOS, DISFRACES, INSTRUMENTOS MUSICALES, JUEGO DE MESA Y CARTAS, JUGUETES ELECTRÓNICOS, JUGUETES DE OFICIOS, MOCHILAS, MUÑECAS, PATINETAS Y PATINES, PELOTAS, PELUCHES, PISTAS Y TRENES, PUZZLES Y ROMPECABEZAS, ROBOTS, LOL TOYSTORY, PRINCESAS, ADVENGERS.">
  <meta name="author" content="Integrantes del grupo (por orden de inscripción al grupo):
                                    Alias	      GitHub
          1	Elizabeth Mc Nally	    ESMN 	  EliMCN	https://github.com/EliMCN

          2 Fausto De Laval          FA       fagit73   https://github.com/fagit73             

          3 Marisol Belliard	       MB	    MarisolBell	https://github.com/MarisolBell

    ">

  <!-- Favicon -->
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">

  <!-- vinculamos html con hojas de estilo -->
  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/header.css">
  <link rel="stylesheet" href="../CSS/style-footer.css">
  <link rel="stylesheet" href="../CSS/register&Login.css">
  <link rel="stylesheet" href="../CSS/pagEnConstruccion.css">
  <link rel="stylesheet" href="../CSS/cart.css">

  <!--  Vinculamos con la biblioteca de Animate -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

  <!-- Preconexión a Google Fonts y carga de fuentes personalizadas -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Sofia&display=swap" rel="stylesheet">

  <!-- Google Fonts Fredoka  -->
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">


  <!-- Biblioteca Font Awesome para iconos vectoriales -->
  <script src="https://kit.fontawesome.com/e566946817.js" crossorigin="anonymous"></script>

  <!-- Biblioteca Bootstrap Icons para iconos SVG -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
  <header>
    <!-- Se maneja desde javascript -->
  </header>


  <main>
   <h2>Gracias por tu compra!</h2>
  </main>

  <footer>
    <!-- se maneja desde javascript  -->
  </footer>
  

  <!-- Enlaces a scripts  -->
  <script src="../js/main.js"></script>
  <script src="../js/hamburguesa.js"></script>
  <script src="../js/carrousel.js"></script>
  <script src="../js/userLogin.js"></script>
  <script src="../js/textoAnimado.js"></script>
  <script src="../js/script.js"></script>
  <script src="../js/enConstruccion.js"></script>
  <script src="../js/cartService.js" defer></script>
  <script src="../js/cart.js" defer></script>
</body>

</html>